  <nav class="topnav">
            <div class="navbar">
                <div class="nav-logo">
                    <a href="/">
                        <img src="https://img.icons8.com/ios/25/000000/sugar-cubes.png">
                    </a>
                </div>

                <div class="nav-items">
                    <ul id="menu">
                        <li><a class="navlink" href="/profile">About</a></li>
                        <li><a class="navlink" href="/academics">Academics</a></li>
                        <li><a class="navlink" href="/activities">Activities</a></li>
                    </ul>
                </div>
            </div>
        </nav>